<section id="get-in-touch">
	<h4 class="banner">Get in Touch</h4>
	<p class="verdana-text">Contact me to collaborate on writing, editing, education, and theater!</p>
	{{ '[contact-form-7 id="335" title="Get in Touch"]' | shortcodes }}
</section>